<!DOCTYPE html>
<html>
<head>
    <title>CS4400</title>
    <script src="/js/manageOverdraft.js" defer></script>
</head>
<body onload="updateCheckingAccount(); updateSavingsAccount();">
    <h1>Checking</h1>
    <form>
        <!-- drop downs :D -->
        <div>
            <label for="checkingbank"></label>
            <select id="checkingbank">
                <% for (const i in checkingbanks) { %>
                    <option value="<%= checkingbanks[i].bankID %>"> <%= checkingbanks[i].bankID %> </option>
                <% } %>
            </select>
        <div>
            <label for="checkingaccount"></label>
            <select id="checkingaccount">
                <% for (const i in checkingaccounts) { %>
                    <option value="<%= checkingaccounts[i].accountID %>"> <%= checkingaccounts[i].accountID %> </option>
                <% } %>
            </select>
        </div>

        <% if (admin) { %>
            <input type="button" value="Cancel" name="cancel" onclick="window.location.href='/adminMenu'" />
        <%} else {%>
            <input type="button" value="Cancel" name="cancel" onclick="window.location.href='/customerMenu'" />
        <% } %>
        <input type="submit" value="Stop" id="stop"> 
        <input type="submit" value="Start" id="start"> 

    </form>
    <h2>Savings</h2>
    <form>
        <!-- drop downs :D -->
        <div>
            <label for="savingsbank"></label>
            <select id="savingsbank">
                <% for (const i in savingsbanks) { %>
                    <option value="<%= savingsbanks[i].bankID %>"> <%= savingsbanks[i].bankID %> </option>
                <% } %>
            </select>
        <div>
            <label for="savingsaccount"></label>
            <select id="savingsaccount">
                <% for (const i in savingsaccounts) { %>
                    <option value="<%= savingsaccounts[i].accountID %>"> <%= savingsaccounts[i].accountID %> </option>
                <% } %>
            </select>
        </div>

    </form>
    <p hidden id="message"></p>
</body>
</html>